body {
	margin: 0;
	padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
	background-color: #595f6f;
	color: white;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}