.logo {
	font-family: "OdinRounded", sans-serif;
	color: white;
	font-size: 51px;
	line-height: 17px;
}

.logo--footer {
	font-size: 36px;
}

.logo__bit-basta {
	font-size: 2em;
}

.logo__mb-icon {
  
}